.body {
  background-color: #D2B48C;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #D2B48C;
  
}

.itemcard {
  background-color: #efddd3;
}

.itemcard-button {
  width: 100%;
  background-color: blanchedalmond;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: #D2C79A;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
  z-index: 1000;
}

.paymentform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paymentformbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentformprice {
  text-align: center;
  font-weight: bold;
}

.buttonmargin {
  margin: 0 10px;
}

.specialbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}